# Ignore environment variables
.env

# Ignore Python virtual environment folders
venv/
.env/
env/
.venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp
